.chapter-page
  .name= @chapter.name
  %table
    %thead
      %tr
        %td.heading English
        %td.heading Tamil
        %td.heading Alternate Tamil
        %td.heading Kannada
    %tbody{"data-bind" => "foreach: phrases"}
      %tr
        %td= render :partial => "column", :locals => {:field => "english"}
        %td= render :partial => "column", :locals => {:field => "tamil"}
        %td= render :partial => "column", :locals => {:field => "tamil_alt"}
        %td= render :partial => "column", :locals => {:field => "kannada"}
        %td
          %button{"data-bind" => "click: edit, visible: readonly"} Edit
          %button{"data-bind" => "click: save, visible: editable", "style" => "display: none"} Save
.chapter-list
  - @chapters.each do |chapter|
    .chapter= link_to chapter.name, chapter

:javascript
  var viewModel = new EditChapter(#{@chapter.to_json.html_safe});
  ko.applyBindings(viewModel);