.chapter
  .name= @chapter.name
  %table
    %thead
      %tr
        %td English
        %td Tamil
        %td Alternate Tamil
        %td Kannada
    %tbody{"data-bind" => "foreach: phrases"}
      %tr
        %td= render :partial => "column", :locals => {:field => "english", :focus => true}
        %td= render :partial => "column", :locals => {:field => "tamil", :focus => false}
        %td= render :partial => "column", :locals => {:field => "tamil_alt", :focus => false}
        %td= render :partial => "column", :locals => {:field => "kannada", :focus => false}
        %td
          %button{"data-bind" => "click: edit, visible: readonly"} Edit
          %button{"data-bind" => "click: save, visible: editable", "style" => "display: none"} Save

:javascript
  var viewModel = new EditChapter(#{@chapter.to_json.html_safe});
  ko.applyBindings(viewModel);